@media screen and (max-width:600px)
{
    html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

.container {
    margin-top: 10vh;
  border: 6px solid black;
  border-radius: 15px;
  background-color:slategrey;
  width: 80%;
  height: 65%;
  
}

.button {
  width: 9vw;
  /* height: 7vh; */
  padding: 25px;
  margin: 0 3px;
  border: 3px solid black;
  border-radius: 9px;
  cursor: pointer;
  background-color:burlywood;
  font-weight: 600;
}
.button:hover{
  color: black;
  background-color:white;
}

.row {
  margin: 8px 0;
}

.row input {
  /* width: 291px; */
  width: 60vw;
  height: 4vh;
  font-size: 20px;
  margin: 0;
  margin-top:3vh;
  padding: 10px 0px;
  border: 3px solid black;
  border-radius: 5px;
}
}